PROJECT_ID=289699266922
TASK_ID=252873550590
MODEL_NAME=gpt_4o
PROVIDER=openrouter
PROMPT_ID=id::219349944655
KILN_PORT=http://localhost:8757
DATABASE_URL="postgresql://avnadmin:<password>@conversation-evals-danvictor321-a4b7.i.aivencloud.com:19702/defaultdb?sslmode=require"
